<div class="clickplay-inner component-inner" aria-label="{{_globals._components._clickplay.ariaRegion}}">
	<section id="reading">
		<div id="one">
			<h1>{{title}}</h1>
			<span><strong>{{subtitle}}</strong></span>
			<p>{{_para1}}</p>
			<p>{{_para2}}</p>
			<p>{{_para3}}</p>
		</div>
		<div id="two">
			
			<video id="myvideo" width="620" height="420"  >
				<source src="{{_video.mp4}}" type="video/mp4"></source>
				<source src="{{_video.ogg}}" type="video/ogg"></source>
				Your browser does not support HTML5 video.</video>

				<div >
					<button id="jump">1</button>
					<button id="jump2">2</button>
					<button id="jump3">3</button>
					<button id="jump4">4</button>
					<button id="jump5">5</button>
					<button id="jump6">6</button>
					<button id="jump7">7</button>
				</div>
			</div>
		</section>
	</div>


